/*@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap");*/
/*colors: #0065FC(main blue) #DEEBFF(lighter blue) #F2F2F2(background gray) */

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin: 0 48px;
}

.disflex{
    display: flex;
}

header{
    justify-content: space-between;
}

/*ul{
    padding: 0px;
    height: 23px;
}

li{
    height: 23px!important;
}*/

.site-logo{
    height: 64px;
    margin-top: 40px;
}

.header-nav{
    margin-top: 0px;
    padding-top: 0px;
}

.navlist{
    margin-top: 0px;
    list-style-type: none;
    justify-content: flex-end;
}

.navlist li{
    border-top: solid 2px white;
    padding: 25px;
    padding-top: 40px;
}

.navlist li:hover, .navlist li:active{
    border-top: solid 2px #0065FC;
    cursor: pointer;
    color: #0065FC
}

form{
    font-size: 17px;
}

.location-form{
    margin: 7px 0px;
}

.search-location{
    justify-content: flex-start;
}

input{
    border: none;
    height: auto;
    font-weight: bold;
    padding: 15px;
}

.location{
    padding: 0;
    background-color: #f2f2f2;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    vertical-align: middle;
}

input[type="button"]{
    background:none;
    padding: 0;
    width: 50px;
    justify-content: center;
}

i{
    color: #0065FC;
}

.location i{
    text-align: center;
    vertical-align: middle;
    margin-left: -50px;
    height: 50px;
    width: 50px;
    padding: 15px;
}

input[type="submit"]{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    color: #fff;
    background-color: #0065FC;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #0021DA;
}

.filters{
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.filters-title{  
    padding: 10px 0;
}

.filters-list{
    list-style-type: none;
    font-weight: 600;
    padding-left: 0px;
}

.filters-list-element{
    display: flex;
    justify-content: space-evenly;
    margin: 0px 25px;
    height: 50px;
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    transition: 0.3s ease-in;
}

.filters-list-element span{
    padding: 9.5px 0;
    padding-right: 15px;
}

.filters-list-element i{
    background-color: #deebff;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: -3px 12.5px;
    margin-left: -3px;
    padding-top: 15px;
    border-radius: 50px;
    transition: 0.3s ease-in;
}

.filters-list-element i:last-child{
    width: 50px;
}

.filters-list-element:hover{
    cursor: pointer;
    background-color: #deebff;
}

.filters-list-element:hover i{
    transform: rotate(360deg);
}

.information{
    margin: 20px 0px;
}

.information i{  
    width: 25px;
    height: 25px;
    padding: 3px;
    text-align: center;
    margin: 20px 10px 20px 0px;
    border: solid 2px #f2f2f2;
    border-radius: 30px;
}

h3{
    margin: 0;
    font-weight: 700;
}

.main-content{
    /*nothing yet*/
}

.accommodations-container{
    height: fit-content;
    border-radius: 25px;
}

.cards-container{
    background-color: #f2f2f2;
    padding: 2%;
    flex-direction: column;
}

.cards-container p{
    font-size: 16px;
}

.all-accommodations{
    flex: 9;
    margin-right: 45px;
}

.accommodation-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-title h3{
    width: 100%;
}

.found-accommodation{
    width: 33%;
    text-align: center;
    margin-bottom:35px;
    background-color: #fff;
    border: solid 3px #fff;
    border-radius: 25px;
    overflow: hidden;
    font-size: 16px;
}

.found-accommodation p{
    text-align: left;
}

.found-accommodation img{
    width: 100%;
    object-fit: cover;
}

.popular-accommodations{
    flex: 3;
}

footer{
    margin: 0 -48px;;
    padding: 48px 0;
    background-color: #f2f2f2;
}

.footer-list{
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 150px;
}

.footer-list li:first-child{
    font-weight: bold;
    margin-bottom: 20px;
}

.see-more a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.popular-accommodations{
    flex-direction: column;
    justify-content: flex-start;
    justify-content: space-between;
}

.pop-title{
    justify-content: space-between;
}

.pop-title i{
    height: 20px;
    color: black;
}

.popular-accommodation{
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    border: solid 3px #fff;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 16px;
}

.popular-accommodation img{
    object-fit: cover;
}

.pop-acc-txt p{
    margin: 0;
}

.pop-acc-txt{
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.activities{
    width: 100%;
    justify-content: space-between;
}

.double{
    display:flex;
    flex-direction: column;
}

.double img{
    height: 160px;
}

.large-image{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.activity-card{
    display:flex;
    flex-direction: column;
}

.activity-card img{
    width: 330px;
    object-fit: cover;
}